void {{ callback_prefix }}_on_report_{{ field_name }}(
	const struct zbus_channel *chan,
	const struct msg_zlet_{{ origin_base }}_report *report)
{
#warning "{{ callback_prefix }}_on_report_{{ field_name }} not implemented"
{%- if dest_api_suggestions %}
	/* Available {{ dest_base }} commands: {{ dest_api_suggestions | join(', ') }} */
{%- endif %}
}
