/*
 * {{ adapter_name }}_impl.c
 * Adapter implementation: zlet_{{ origin_base }} -> zlet_{{ dest_base }}
 * Implement callbacks for selected report fields below.
 */

#include "zlet_{{ origin_zephlet }}_interface.h"
#include "zlet_{{ dest_zephlet }}_interface.h"

#include <zephyr/kernel.h>
#include <zephyr/zbus/zbus.h>
#include <zephyr/logging/log.h>

LOG_MODULE_DECLARE(adapter, CONFIG_ADAPTERS_LOG_LEVEL);

{% for field in selected_report_fields %}
void {{ callback_prefix }}_on_report_{{ field.name }}(
	const struct zbus_channel *chan,
	const struct {{ origin_pb_prefix }}_report *report)
{
#warning "{{ callback_prefix }}_on_report_{{ field.name }} not implemented"
{%- if dest_api_suggestions %}
	/* Available {{ dest_base }} commands: {{ dest_api_suggestions | join(', ') }} */
{%- endif %}
}

{% endfor %}
